<footer>
  <div class="footer-container">
    <div class="footer-content">
      <div class="footer-section">
        <h3>Contact Information</h3>
        <p>Email: connection@experiencesleague.com</p>
        <p>Phone: +61 53 212 9876</p>
        <p>
          Location: Unit 2, 12 Wharf Street, Port Douglas QLD 4877, Australia
        </p>
      </div>
      <div class="footer-section">
        <h3>Legal</h3>
        <p><a href="./slime-cookies.html">Cookie Policy</a></p>
        <p><a href="./slime-privacy.html">Privacy Policy</a></p>
        <p><a href="./slime-disclaimer.html">Disclaimer</a></p>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2025 experiencesleague.com. All rights reserved.</p>
    </div>
  </div>
</footer>
